.whatFullContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatOutContainer {
  margin-top: 20px;
  width: 80%;
}
.containerOuter {
  display: flex;
  justify-content: space-between;
}

.whatinContainer {
  margin-top: 15px;
}
.containnerone {
  background-color: #d9d9d9;
  border-radius: 10px;
  padding: 20px;
}

.imageContainer {
  display: flex;

  justify-content: center;
  align-items: center;
}

.imageContainer001 {
  width: 100%;
}

.img0001 {
  width: 100%;
  border-radius: 10px;
  padding: 5px;
}

@media (max-width: 786px) {
  .containerOuter {
    display: flex;
    flex-direction: column;
  }
}
