.whyFullContainer {
  display: flex;

  align-items: center;
  justify-content: center;
}

.whyTopconntainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 20px;
}

.img002 {
  width: 30%;
  border-radius: 10px;
}

.whyHeadingListContainer {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 786px) {
  .whyTopconntainer {
    display: flex;
    flex-direction: column;
  }
  .img002 {
    width: 100%;
  }
}
